.title {
  margin: 0;
  line-height: 1.15;
  font-size: 1.75rem;
  text-align: center;
  width: 100%;
}

.title strong {
  color: #0070f3;
}

.title em {
  color: #e67224;
}

@media (min-width: 720px) {
  .title {
    font-size: 3rem;
  }
}